:root {
    --color-body: #ffff;
    --color-borders-card: #EEEEEE;
    --color-primery: #212121;
    --color-secondary: #757575;
    --color-brand: #000000;
    --color-firstlight: #F4F4FD;
    --color-secondlight: #E7E9FC;
    --color-withlight: #ffff;
    --color-buttons-hover: #2196F3;
    --color-border: #ECECEC;
    --color-buttons: #212121;
    --color-buttons-background: #F5F4FA;
    --color-footer-background: #2F303A;
    --card-set-gap: 30px;
}

body {
    color: var(--color-primery);
    font-family: "Roboto", sans-serif;
}

li {
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-primery);
}

.link:hover,
.link:focus {
    color: var(--color-buttons-hover);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-header {
    color: var(--color-brand);
}

.logo-footer {
    color: var(--color-withlight);
}

.hero {
    font-size: 44px;
    max-width: 1600px;
    margin: auto;
    line-height: 1.36;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    color: var(--color-withlight);
    background-color: var(--color-footer-background);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/Header\ Img\ copy.jpg);
}

.header-box {
    border-bottom: 1px  solid var(--color-border);
}

.hero-title {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: 93px;
    gap: 50px;
}

.main-title {
    max-width: 696px;
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-body)
}


.link-current {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--color-buttons-hover)
}


.mail,
.tel {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
    font-style: normal;
    text-decoration: none;
}

.address {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 0;
    text-align: center;
    gap: 50px;
}

.address a:hover,
.address a:focus {
    color: #2196F3;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-address:hover,
.foot-address:focus,
.foot-mail:hover,
.foot-mail:focus,
.foot-tel:hover,
.foot-tel:focus {
    color: #2196F3;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons {
    font-family: Roboto, sans-serif;
    list-style: none;
    text-decoration: none;
    border-radius: 4px;
    padding-left: 0;
    color: var(--color-buttons);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
    gap: 8px;

}

.buttons li button {
    box-shadow: none;
}

.btn {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    text-align: center;
    background-color: var(--color-buttons-background);
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

.btn:hover,
.btn:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px #0000001F,
            0px 1px 2px 0px #00000014,
            0px 3px 1px 0px #0000001A; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn {
    font-size: 16px;
    padding: 8.97px 24px;
    line-height: calc(30/16);
    background-color: #2196F3;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.button:hover,
.button:focus {
    color: var(--color-buttons);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.feature li {
    width: 270px;
    padding-left: 0;
    text-decoration: none;
}

.atitle {
    display: block;
    padding-left: 0;
    text-decoration: none;
}
.atitle:hover,
.atitle:focus {
    box-shadow: 1px 4px 6px 0px #00000029,
                0px 4px 4px 0px #0000000F,
                0px 1px 1px 0px #0000001F;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.list-item {
    display: flex;
    width: 270px;
    height: 120px;
    background-color:#F5F4FA;
    border-radius: 4px;

}


.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-primery);

}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
    margin-top: 4px;

}

.foot {
    background-color: var(--color-footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.foot-address {
    display: block;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-withlight);

}
.mainadd {
    margin-top: 20px;
}

.foot-mail,
.foot-tel {
    display: block;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    line-height: 1.71;
    margin-top: 12px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subject {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.03em;
    color: var(--color-primery);
    margin-top: 30px;
    margin-bottom: 10px;
}
.main-subject{
    padding-top: 94px;
}

.feature {
    display: flex;
    gap: 30px;
    padding-left: 0;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);
}

.work {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-primery);
    margin-bottom: 50px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-primery);
}

.ourteam {
    background-color: var(--color-buttons-background);
    display: flex;
    padding: 94px 0;

}

.teamcard {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;
}
.cardtitle {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px #00000033;
    box-shadow: 0px 1px 1px 0px #00000024;
    box-shadow: 0px 1px 3px 0px #0000001F;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.team-foto {
    flex-basis: calc((100% - 3 * 30px)/4);
    border-radius: 0px 0px 4px 4px;
    display: block;
}

.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-primery);
}

.job-title {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-secondary);
}


.rows {
    padding-top: 94px;
    padding-bottom: 94px;
}

.image-about {
    display: flex;
    padding-left: 0;
    gap: 30px;
}

.image-title {
    position: relative;
    display: block;
    flex-basis: calc((100%-2*30px)/3);
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-conteiner {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}
 

.card-set {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}
.card-set > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-content {
    padding: 24px 20px;
    border-left: 1px solid var(--color-borders-card);
    border-right: 1px solid var(--color-borders-card);
    border-bottom: 1px solid var(--color-borders-card);
}

.list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.sprite-item {
    width: 70px;
    height: 70px;
}

.sprite-item-letter {
    width: 16px;
    height: 12px;
    margin-left: auto;
    margin-right: 10px;
    fill: currentColor;
}
.sprite-item-smartphone {
    width: 10px;
    height: 16px;
    margin-left: auto;
    margin-right: 10px;
    fill: currentColor;
    }
.sprite-header {
    display: inline-block;
    padding-right: 10px;
    fill: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sprite-item-letter:hover {
    fill:#2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sprite-item-smartphone:hover {
    fill:#2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sprite-item-teamcard {
    width: 20px;
    height: 20px;
    fill:#AFB1B8;
}

.sprite-item-teamcard-pf {
    width: 20px;
    height: 20px;
    fill:#FFFFFF;
}

.sprite-item-teamcard:hover, 
.sprite-item-teamcard:focus {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-secondary);
    border-radius: 50%;
   
}
.thumb-sprite:hover {
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-teamcard {
    width: 20px;
    height: 20px;
    fill: var(--color-withlight);
}


.link-sprite {
    background-color: (var(--color-withlight));
    border-radius: 50%;
    max-width: 100%;
   
}
.link-sprite:hover,
.link-sprite:focus {
    background-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.link-sprite:focus {
    fill: #FFFFFF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}     

.link-sprite:hover .sprite-item-teamcard {
    fill: var(--color-withlight);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-sprite:focus .sprite-item-teamcard {
    fill: var(--color-withlight);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-sociable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding-left: 0;
    padding-right: 0;
    gap: 10px;

}

.thumb-sociable-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
    gap: 10px;
}




.link-sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}


.sprite-item-logo {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.our-clients {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-primery);
    }
    .clients {
    display: flex;
    padding-left: 0;
    gap: 30px;
    }

    .sociable-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: #EEEEEE;
    }

    .foot > .conteiner {
    display: flex;
    align-items: baseline;
    }

    .clients-hover:hover,
    .clients-hover:focus {
    border-color: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
    .clients-hover:hover
    .sprite-item-logo {
    fill: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .clients-hover:focus
    .sprite-item-logo {
    fill: #2196F3;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clients-hover {
    width: 170px;
    height: 92px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.gap {
    margin-right: 70px;
}
  
.current {
    color: var(--color-pressed);
}

.link-current::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    content: '';
}


/* --------END FOOTER---------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: rgb(255, 255, 255);

}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #757575;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

}

/*overlay*/
.servises-box {
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.atitle:hover .photo-overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #2196F3E5;
    transform: translateY(100%);
    transition: transform 250ms;
    padding: 63px 24px 63px 24px;
    opacity: 100%;
}

.title-overlay {
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 322px;
    height: 168px;
    line-height: 1.5;
    letter-spacing: 0.002em;
    color: var(--color-firstlight);
}
.label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(47, 48, 58, 0.8);
}
.title-label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.03em;
    text-align: center;
    white-space: nowrap;
    color:#FFFFFF;
    padding: 27px 107px 27px 107px;
}
